<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>

<body class="body">
<div class="wrap">
			<div class="app-header">
    				<div class="header-container clearfix">
    				
    				<div class="logo">
        				<a href="/">Yelp Admin</a>
    				</div>
         			
         		
         		<div class = "header-account webview-hidden">
         		<ul class="logged-out-nav">
        		<li>
            	<a href="signup" action="GET" id="header-sign-up" class="ybtn ybtn-primary header-button sign-up">Sign Up</a>
        		</li>
        		<li class="text-centered">
            	<a class="log-in" href="login" action="GET">
                Log In
            	</a>
        		</li>
        		
         		</div>
         		</div>
           </div>
			<div id="super-container">
			<p><a class="admin">Admin Login</a><p>
				<div class="clearfix layout-block layout-a layout-border">
					<div class="column column-alpha main">
					<br><br>
					<div class="ysection" id="signup-pitch">
			        <div class="content">
			        <h2 class="embossed-text-white">Yelp is the best way to find great local businesses</h2>
			        <p class="embossed-text-white">
			                People use Yelp to search for everything from the city's tastiest burger to the most renowned cardiologist. What will you uncover in your neighborhood?
			        </p>
			        <a href="/signup" class="ybtn ybtn-primary ytype">Create Your Free Account</a>
			        </div>
			    	</div>
			    	
			    	</div>
			    </div>	
     		</div>
</div> 
</html>