<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Successful Login</h1>
    <a href="/">Click here to continue</a>
  </body>
</html>